body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.main {
    height: 100%;
    width: 100vw;
    min-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(200px, 8fr) 92fr;
    grid-template-areas: "sidebar content";
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: sidebar;
    gap: 10px;
}

.sidebar-icon {
    order: 1;
    flex: 0 1;
}

.sidebar-menu {
    order: 2;
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-footer {
    order: 3;
    flex: 0 1;
    text-align: center;
}

.home {
    display: grid;
}

.routing {
}
